<body class="dank">
<h2 class="dank">DANK</h2>
<div class="wrap">
  {{#each dankMemes}}
  <div class="box">
    <div class="boxInner">
      <a href="/{{id}}"><img src="{{url}}"/></a>
      <div class="titleBox">{{submitted_by}}</div>
    </div>
  </div>
  {{/each}}
</div>
</body>