<div class="wrap">
  {{#each dankMemes}}
  <div class="box">
    <div class="boxInner">
      <img src="{{url}}" />
      <div class="titleBox">{{submitted_by}}</div>
    </div>
  </div>
  {{/each}}
</div>