<body class="edgy">
<div class="wrap">
<h2 class="edgy">EDGY</h2>
  {{#each edgyMemes}}
  <div class="box">
    <div class="boxInner">
      <a href="/{{id}}"><img src="{{url}}"/></a>
      <div class="titleBox">{{submitted_by}}</div>
    </div>
  </div>
  {{/each}}
</div>
</body>