<div class="container">
  <div class="image">
    <div class="container-text">
      <img src="/140819799_1304327679933802_6001051827950830613_n.jpg" />
      <a class="centered-text" href="all">ALL</a>
    </div>
  </div>

  <div class="image">
    <div class="container-text">
      <img src="/117774946_997372800723038_250152946388520319_n.jpg" />
      <a class="centered-text" href="dank">DANK</a>
    </div>
  </div>

  <div class="image">
    <div class="container-text">
      <img src="/102386136_694483548018375_5240584168456681583_n.jpg" />
      <a class="centered-text" href="edgy">EDGY</a>
    </div>
  </div>

  <div class="image">
    <div class="container-text">
      <img src="/101808001_200977947685433_5069121132330745856_n.jpg" />
      <a class="centered-text" href="r18">R18</a>
    </div>
  </div>

</div>

<a class="addAMemeText" href="/addMeme" ><h1>Add a meme</h1></a>