<div class="wrap">
  {{#each r18Memes}}
  <div class="box">
    <div class="boxInner">
      <a href="/{{id}}"><img src="{{url}}"/></a>
      <div class="titleBox">{{submitted_by}}</div>
    </div>
  </div>
  {{/each}}
</div>

